# dependencies
node_modules/
npm-debug.*
yarn-error.log
yarn-debug.log
pnpm-debug.log

# secrets / env
.env
.env.local
.env.development
.env.production
.env.*.local
*.pem
*.key

# OS
.DS_Store
Thumbs.db

# logs
logs/
*.log

# editor
.vscode/
.idea/
*.swp
*.swo

# build
dist/
build/
coverage/
